/* general */
body {
    background-color: #4B2786;
    color: rgb(255, 255, 255);
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 500;
    font-size: 1em;
}
.wrapper {
   height: 100vh;
}

/* header */
header {
    height: 120px;
    background-color: #1FA7C4;
}
header>div.container {
    max-width: 900px;
}
header img {
    height: 150px;
}
header button {
    background-color: #6034a7;
    color: #829AFF;
    padding: 5px 20px;
    font-size: 1.2rem;
    font-weight: 500;
}
header button:hover {
    color: white;
    transition-duration: 0.2s;
}

/* main */
main>div#field {
    width: 70%;
    max-width: 900px;
    margin: 0 auto;
    padding: 2px;
    border: 10px solid #4D39AC;
}
main>div#timer {
    height: 90px;
    font-size: 4rem;
    text-align: center;
}
main>div#timer,
main>div#answer {
    width: 70%;
    max-width: 900px;
    margin: 0 auto;
    padding: 5px;
}
main>div#answer input {
    width: calc(100% / 5 - 20px);
    margin: 10px;
}
main>div#answer input:disabled {
    background-color: white;
    color: black;
}
main>div#answer input.true {
    border: 5px solid green;
}
main>div#answer input.false {
    border: 5px solid red;
}
main>div#answer button {
    background-color: #1FA7C4;
    color: #4B2786;
    padding: 2px 10px;
}
main>div#answer button:hover {
    color: white;
    transition-duration: 0.2s;
}
main>div#field .box {
    width: calc(100% / 5);
    aspect-ratio: 1 / 1;
    background-color: #36ADF9;
    color: #ffffff;
    font-size: 5rem;
    border: 2px solid  #4B2786;
}
main>div#win {
    height: 300px;
    position: fixed;
    top: calc(50% - 150px);
    left: calc(50% - 885px / 2);
}
main>div#win img {
    display: block;
    width: calc(100% / 3);
}
main>div#game-over {
    position: fixed;
    top: calc(50% - 100px);
    left: calc(50% - 636px / 2);
}

/* footer */
footer {
    height: 50px;
    background-color: #1FA7C4; 
}
footer a {
    color: white;
}
footer a:hover {
    color: #4B2786;
    transition-duration: 0.2s;
}